@tailwind base;

/* Write your own custom base styles here */
body {
  background: #dedede;
  font-family: 'Josefin Sans', sans-serif;
}
.navbar {
  background: transparent;
  background-color: transparent !important;
  position: fixed;
  top: 0;
  width: 100%;
}
.elfooter {
  color: #012746;
  font-weight: 100;
  font-size: 0.5rem;
  font-weight: bold;
}
.btn {
  border-radius: none !important;
}
.eljumbo {
  background: transparent;
  background-color: transparent !important;
  padding: 10px;
  margin-top: -10px;;
}
.eljumbo h1 {
  font-weight: bold;
  font-size: 2rem;
  color:#012746;
}
.entradas {
  margin-bottom: 0px;
}
.text-3xl {
  color: #ffffff;
  font-weight: bold;
}
a.bg-black {
  padding: 10px;
}
.container-fluid.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.categorias p {
  font-size: 0.5rem;
  margin: 0;;
  padding: 10px 10px;
  text-align: center;
  cursor: pointer;
  transition: all 1s;
  padding-top: 12px;
  margin-right: 3px;
}
.categorias p:hover {
  background: #f6df51;
  color: #737373;
}
.navbar a.font-light {
  font-size: 0.8rem;
  padding: 2px 10px;
  border-right: 1px solid #ffffff;
  transition: all 1s;
}

.navbar a.font-light:hover {
  color: #012746;
  text-decoration: none;
}

.beehive {
  background: rgb(106,132,159);
  background: linear-gradient(162deg, rgba(106,132,159,1) 14%, rgba(18,25,28,1) 86%);
  padding-bottom: 90px;
  color: #ffffff;
}

.beehive h1 {
  padding: 10px;
  font-weight: bold;
  font-size: 1.3rem;
}

.beehive p {
  padding: 10px;
  font-weight: bold;
  font-size: 0.8rem;
}

ul.contenido {
  list-style: circle;
  padding: 10px;
  text-align: justify;
}

.home.PERSONAL.SUMMARY {
  justify-content: inherit;
  padding-top: 70px;
  background: rgb(1,39,70);
  background: linear-gradient(347deg, rgba(1,39,70,1) 14%, rgba(13,101,173,1) 86%);
}
.home.PERSONAL.SUMMARY h1, .home.PERSONAL.SUMMARY p {
  width: 100%;
  padding: 10px 90px;
}
.home.PERSONAL.SUMMARY p {
  color: #ffffff;
  font-weight: 100;
  text-align: justify;
}
.home.PERSONAL.SUMMARY ul {
  padding: 10px 50px;
  color: #ffffff;
  font-weight: 100;
  list-style: circle;
  text-align: justify;
}
.home.PROFESSIONAL.SUMMARY {
  justify-content: inherit;
  padding-top: 70px;
  background: rgb(96,96,96);
  background: linear-gradient(157deg, rgba(96,96,96,1) 14%, rgba(23,23,23,1) 86%);
}
p.intro {
  color: #737373;
}
.bg-black.entradas {
  background-color: #012746 !important;
  color: #ffffff;
  font-size: 0.5rem;
  margin: 0;
  padding: 5px;
  font-weight: bold;
}
.devicons {
  color: #ffffff;
  font-size: 1.5rem;
  margin: 10px 5px;
}
/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write your own custom component styles here */
.btn-blue {
  @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
