@tailwind base;

/* Write your own custom base styles here */
body {
  background: #111;
  font-family: 'Josefin Sans', sans-serif;
}
.navbar {
  background: transparent;
  background-color: transparent !important;
}
.elfooter {
  background: rgba(0,0,0,0.8);
  color: #ffffff;
  font-weight: 100;
}
.btn {
  border-radius: none !important;
}
.eljumbo {
  background: transparent;
  background-color: transparent !important;
  padding: 10px;
}
.eljumbo h1 {
  font-weight: bold;
  font-size: 2rem;
  color:#ffffff;
}
.entradas {
  margin-bottom: 0px;
}
.text-3xl {
  color: #ffffff;
  font-weight: bold;
}
a.bg-black {
  padding: 10px;
}
/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write your own custom component styles here */
.btn-blue {
  @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
